@charset "utf-8";
/* CSS Document */

.main .news {
	background: url(../images/cut.png) no-repeat;
	width: 1200px;
	height: 63px;
	margin: 0 auto;
}
.main .news p {
	text-align: center;
	font-size: 25px;
	padding-top: 15px;
}
.main .hongkong {
	width: 250px;
	height: 40px;
	background-color: #05113b;
	position: absolute;
	top: 180px;
	left: 180px;
	text-align: center;
}
.main .media {
	width: 250px;
	height: 40px;
	background-color: #05113b;
	position: absolute;
	top: 180px;
	left: 450px;
	text-align: center;
}
.main .guangdong {
	width: 250px;
	height: 40px;
	background-color: #05113b;
	position: absolute;
	top: 180px;
	left: 720px;
	text-align: center;
}
