@charset "utf-8";
/* CSS Document */

.content {
  width: 1200px;
  margin: 0 auto;
  background-color: #fff;
}
/* tag begin */
.line_box {
  margin: 0 auto;
  width: 1200px;
  cursor: default;
}
.line_box div {
  height: 60px;
  width: 320px;
  margin: 0 auto;
  position: relative;
  top: 50px;
  background-color: #05113a;
}
.line_box h3 {
  font-size: 22px;
  padding-top: 14px;
  text-align: center;
}
.line_box hr {
  border: 1px  #05113a solid;
}
.line_box span:first-of-type {
  position: relative;
  top: 10px;
  right: 2px;
  color: #05113a;
}
.line_box span:last-of-type {
  position: relative;
  bottom: 13px;
  left: 1192px;
  color: #05113a;
}
/* tag end */
/* main begin */
.sign {
  width: 1200px;
  text-align: center;
  position: relative;
  bottom: 30px;
}
.datalist {
  width: 900px;
  height: 300px;
  margin: 0 auto;
  color: #000;
	border: 1px solid #05113a;
	border-collapse: collapse;
  margin-bottom: 100px;
}
.datalist caption {
  font-size: 20px;
  padding-bottom: 20px;
	text-align: center;
}
.datalist th {
	border: 1px solid #05113a;
	background-color:#4bacff;
  font-size: 20px;
	font-weight: bold;
	text-align: center;
}
.datalist td {
	border: 1px solid #05113a;
	text-align: center;
}
.datalist td a {
  color: #000;
  text-decoration: none;
}
.datalist td a:hover {
  color: #05113a;
  text-decoration: underline;
}
.datalist tr:hover, .datalist tr.altrow{
	background-color: #c4e4ff;
}
/* main end */
