@charset "utf-8";
/* CSS Document */

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "微软雅黑";
}
body {
  color: #fff;
  /* 背景图片居中，不平铺 */
  background: url("../images/background.jpg") center top no-repeat;
}
/* header begin */
header {
  min-width: 1200px;
  text-align: center;
  background-color: #fff;
}
/* header end */
/* nav begin */
nav {
  max-width: 1920px;  /* 整个网页设置的最大宽度都为1920px，图片也是 */
  min-width: 1200px; /* 设置最小宽度是为了适应缩小浏览器时的布局*/
  height: 60px;  /* 高度固定。宽度的话适应浏览器界面，背景铺满 */
  background-color: #05113a;
}
nav>div {
  /* 把导航条条的文字放在宽度固定的1200px的dib中，并在整个div中实现居中 */
  margin: 0 auto;
  width: 1200px;
}
nav li {
  width: 12.5%;  /* 按宽度比把导航条分成八份，八个超级链接额 */
  float: left;  /* 将无序列表的八个li向左浮动 */
  text-align: center; /* 英文和中文的导航文字居中 */
}
nav a {
  color: #fff;
  text-decoration: none;
  display: block; /* 将导航条的链接换成块元素 */
}
nav a:hover {
  color: #fef44c;
  text-decoration: none;
}
/* 设置导航条字体的大小与位置 */
.Chinese_nav li {
  font-size: 16px;
  padding-top: 10px;
}
.English_nav li {
  font-size: 13px;
  padding-bottom: 10px;
}

/* nav end */
/* slilder begin */
/* 居中轮播图片并隐藏超出的部分 */
.slider {
  min-width: 1200px;
  height: 289px;
  position: relative;
  overflow: hidden; /* 隐藏图片多出的部分 */
}
.slider img {
  /* 父盒子相对定位，对图片绝对定位进行居中操作 */
  position: absolute;
  left: 50%;
  margin-left: -960px;  /* 图片的宽度为1920px, 图片宽度的一半 */
}
/* slilder end */
/* footer begin */
footer {
  max-width: 1920px;
  min-width: 1200px;
  height: 280px;
  background-color: #05113a;
}
.footer_infor {
  margin: 0 auto;
  width: 1200px;
}
.footer_infor>div {
  float: left;
  padding: 30px 0 20px 110px;
}
/* 根据相对定位，移动位置 */
.footer_infor img {
  position: relative;
  top: 30px;
}
.footer_infor_right {
  position: relative;
  top: -80px;
  left: 110px;
}
.footer_infor p {
  line-height: 2em;
  font-size: 14px;
}
.footer_infor h3 {
  line-height: 3em;
  font-size: 16px;
}
.footer_last {
  clear: both;  /* 清楚浮动，左浮动造成的影响*/
}
.footer_last P {
  padding-top: 10px;
  font-size: 12px;
  text-align: center;
}
/* footer end */
